{% extends 'base2.html' %}

{% block title %}
  Page pour administrateur
{% endblock %}

<!doctype html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


{% block content %}
<body>
  <div class="page_administrateur">
    <h1 class="bienvenue_admin">Bienvenue, Administrateur {{ g.user['username'] }}</h1>
    <p class="textes_admin">
      Cette section est réservée aux administrateurs. <br> Ici vous avez la possibilité d'ajouter des produits ou de consulter votre profil.
    </p>
  </div>
  <div class="boutons_admin">
    <a href="{{ url_for('user.show_profile') }}" class="bouton_admin">Consulter son profil</a>
    <a href="{{ url_for('admin.admin') }}" class="bouton_admin">Créer un nouveau produit</a>
  </div>
</body>
{% endblock %}
