{% extends 'base.html' %}

{% block title %}
  Profil
{% endblock %}

<!--<li>Nom d'utilisateur: {{g.user.username}}</li>-->
{% block content %}
  <div class="content-profile">
    <!--Informations personnelles de l'utilisateur-->
    <div class="nom_content">
      <img src="https://cdn2.iconfinder.com/data/icons/user-interface-3-filled-line/64/user_profile_circle_interface_person-1024.png" class="img_4">
      <h1 class="name_user">{{g.user.username}}</h1>
    </div>

    <!--Differentes options pour l'utilisateur-->

    <div class="options_user">
      <!--Gérer le profil-->
      <div class="options_user_carre">
        <img src="https://cdn-icons-png.flaticon.com/512/9354/9354187.png" class="img_3">
        <h1 class="options_texte">Gérer le profil</h1>
        <img src="https://cdn.icon-icons.com/icons2/3468/PNG/512/ui_interface_arrows_direction_navigation_right_chevron_icon_219762.png" class="img_3 img_5">
      </div>

      <!--J'aime-->
      <div class="options_user_carre">
        <img src="https://icons.veryicon.com/png/o/miscellaneous/ramen-iconset-linear-icon-set/love-36.png" class="img_3">
        <h1 class="options_texte">J'aime</h1>
        <img src="https://cdn.icon-icons.com/icons2/3468/PNG/512/ui_interface_arrows_direction_navigation_right_chevron_icon_219762.png" class="img_3 img_5">
      </div>

      <!--Mon panier-->
      <div class="options_user_carre">
        <img src="https://cdn-icons-png.flaticon.com/512/9485/9485920.png" class="img_3">
        <h1 class="options_texte">Mon panier</h1>
        <img src="https://cdn.icon-icons.com/icons2/3468/PNG/512/ui_interface_arrows_direction_navigation_right_chevron_icon_219762.png" class="img_3 img_5">
      </div>

      <!--Mes colis-->
      <div class="options_user_carre">
        <img src="https://cdn-icons-png.flaticon.com/512/5132/5132076.png" class="img_3">
        <h1 class="options_texte">Mes colis</h1>
        <img src="https://cdn.icon-icons.com/icons2/3468/PNG/512/ui_interface_arrows_direction_navigation_right_chevron_icon_219762.png" class="img_3 img_5">
      </div>
    </div>
  </div>  
{% endblock %}