<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

{% block content %}
    <div class="content-admin">
        <div>
            <form method="post">
                <!--Créer une barre d'un ahut pour le nom de la marque et le bouton du retour au site-->
                <div class="bord_du_haut">

                    <!--Créer un bloc pour l'image et le texte'retour au site'-->
                    <div class="retour_au_site">
                        <a href="{{url_for('home.landing_page')}}">
                            <!--Image-->
                            <img src="https://cdn-icons-png.flaticon.com/512/10629/10629403.png" class="img1" />
                            <!--Texte-->
                            <h3>Retour au site</h3>    
                        </a>    
                    </div>
                    
                    <!--Texte: Marque-->
                    <div class="marque_login">
                        <h1>MARQUE</h1>
                    </div>
                </div>
                
                <div class="bas_page_admin">

                    <!--Titre-->
                    <h1 id="ajouter_titre">Ajouter un produit au site</h1>

                    <!--Saisir le nom du produit-->
                    <div class="carre_entier">
                        <!--Carré ou sera écrit de saisir le nom-->
                        <div class="carre_descriptif">
                            <h3>Nom</h3>
                        </div>
                        <!--Carré ou l'utilisateur doit saisir le nom -->
                        <div class="carre_saisie">
                            <input type="text" name="nom" placeholder="Ex. : chemise" required>
                        </div>
                    </div>

                    <!--Saisir la description du produit-->
                    <div class="carre_entier">
                        <!--Carré ou sera écrit de saisir le nom-->
                        <div class="carre_descriptif">
                            <h3>Description</h3>
                        </div>
                        <!--Carré ou l'utilisateur doit saisir la description -->
                        <div class="carre_saisie">
                            <input type="text" name="description" placeholder="Ex. : chemise noir avec des décorations" required>
                        </div>
                    </div>

                    <!--Saisir la taille du produit-->
                    <div class="carre_entier">
                        <!--Carré ou sera écrit de saisir la taille-->
                        <div class="carre_descriptif">
                            <h3>Taille</h3>
                        </div>
                        <!--Carré ou l'utilisateur doit saisir la taille -->
                        <div class="carre_saisie">
                            <input type="text" name="taille" placeholder="Ex. : M" required>
                        </div>
                    </div>

                    <!--Saisir le prix du produit-->
                    <div class="carre_entier">
                        <!--Carré ou sera écrit de saisir le prix-->
                        <div class="carre_descriptif">
                            <h3>Prix</h3>
                        </div>
                        <!--Carré ou l'utilisateur doit saisir le prix -->
                        <div class="carre_saisie">
                            <input type="number" name="prix" placeholder="Ex. : 38" required>
                        </div>
                    </div>

                    <!--Saisir le chemin vers l'image-->
                    <div class="carre_entier">
                        <!--Carré ou sera écrit de le chemin vers l'image-->
                        <div class="carre_descriptif2">
                            <h3>Chemin vers l'image</h3>
                        </div>
                        <!--Carré ou l'utilisateur doit saisir son adresse e-mail -->
                        <div class="carre_saisie">
                            <input type="text" name="chemin_vers_le_fichier_img" placeholder="Ex. : https://th.bing.com/th/id/OIP.86MHlGqAEJHT8zQ5LGysYQHaE7?rs=1&pid=ImgDetMain" required>
                        </div>
                    </div>

                </div>

                <h2 id="categorie_titre">Choisissez une categorie pour le produit :</h2>
                <div class="radio-container">
                    <div class="column">

                        <!--Categories de femme-->
                        <h3 class="categorie4">Femme</h3>
                        <ul class="radio-list">
                            <li>
                                <input type="radio" id="femme_robes" name="categorie" value="femme_robes">
                                <label for="femme_robes">Robe</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_tops" name="categorie" value="femme_tops">
                                <label for="femme_tops">Tops et T-shirts</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_chemises" name="categorie" value="femme_chemises">
                                <label for="femme_chemises">Chemises et blusons</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_sweats" name="categorie" value="femme_sweats">
                                <label for="femme_sweats">Sweats et sweats à capuche</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_pulls" name="categorie" value="femme_pulls">
                                <label for="femme_pulls">Pulls et gilets</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_vestes" name="categorie" value="femme_vestes">
                                <label for="femme_vestes">Vestes et blazers</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_pantalons" name="categorie" value="femme_pantalons">
                                <label for="femme_pantalons">Pantalons et leggins</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_jeans" name="categorie" value="femme_jeans">
                                <label for="femme_jeans">Jeans</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_jupes" name="categorie" value="femme_jupes">
                                <label for="femme_jupes">Jupes et shorts</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_combinaisons" name="categorie" value="femme_combinaisons">
                                <label for="femme_combinaisons">Combinaison</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_maillots" name="categorie" value="femme_maillots">
                                <label for="femme_maillots">Maillots de bain</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_pyjamas" name="categorie" value="femme_pyjamas">
                                <label for="femme_pyjamas">Pyjamas et nuisettes</label>
                            </li>
                            <li>
                                <input type="radio" id="femme_chaussures" name="categorie" value="femme_chaussures">
                                <label for="femme_chaussures">Chaussures</label>
                            </li>
                        </ul>
                    </div>

                    <!--Categories d'homme-->
                    <div class="column">
                        <h3 class="categorie4">Homme</h3>
                        <ul class="radio-list">
                            <li>
                                <input type="radio" id="homme_polos" name="categorie" value="homme_polos">
                                <label for="homme_polos">T-shirt et polos</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_chemises" name="categorie" value="homme_chemises">
                                <label for="homme_chemises">Chemises</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_sweats" name="categorie" value="homme_sweats">
                                <label for="homme_sweats">Sweats et hoodies</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_mailles" name="categorie" value="homme_mailles">
                                <label for="homme_mailles">Mailles</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_vestes" name="categorie" value="homme_vestes">
                                <label for="homme_vestes">Vestes et manteaux</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_pantalons" name="categorie" value="homme_pantalons">
                                <label for="homme_pantalons">Pantalons</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_jeans" name="categorie" value="homme_jeans">
                                <label for="homme_jeans">Jeans</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_shorts" name="categorie" value="homme_shorts">
                                <label for="homme_shorts">Shorts et bermudas</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_joggings" name="categorie" value="homme_joggings">
                                <label for="homme_joggings">Joggings</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_maillots" name="categorie" value="homme_maillots">
                                <label for="homme_maillots">Maillots de bain</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_pyjamas" name="categorie" value="homme_pyjamas">
                                <label for="homme_pyjamas">Pyjamas</label>
                            </li>
                            <li>
                                <input type="radio" id="homme_chaussures" name="categorie" value="homme_chaussures">
                                <label for="homme_chaussures">Chaussures</label>
                            </li>

                        </ul>
                    </div>
                    
                    
                    <!--Catégories pour fille-->
                    <div class="column">
                        <h3 class="categorie4">Fille</h3>
                        <ul class="radio-list">
                            <li>
                                <input type="radio" id="fille_robes" name="categorie" value="fille_robes">
                                <label for="fille_robes">Robes</label>
                            </li>
                            <li>
                                <input type="radio" id="fille_vetements" name="categorie" value="fille_vetements">
                                <label for="fille_vetements">Vêtements d'extérieur</label>
                            </li>
                            <li>
                                <input type="radio" id="fille_pulls" name="categorie" value="fille_pulls">
                                <label for="fille_pulls">Pulls et gilets</label>
                            </li>
                            <li>
                                <input type="radio" id="fille_pantalons" name="categorie" value="fille_pantalons">
                                <label for="fille_pantalons">Pantalons</label>
                            </li>
                            <li>
                                <input type="radio" id="fille_jeans" name="categorie" value="fille_jeans">
                                <label for="fille_jeans">Jeans</label>
                            </li>
                            <li>
                                <input type="radio" id="fille_jupes" name="categorie" value="fille_jupes">
                                <label for="fille_jupes">Jupes et shorts</label>
                            </li>
                            <li>
                                <input type="radio" id="fille_maillots" name="categorie" value="fille_maillots">
                                <label for="fille_maillots">Maillots de bain</label>
                            </li>
                            <li>
                                <input type="radio" id="fille_pyjamas" name="categorie" value="fille_pyjamas">
                                <label for="fille_pyjamas">Pyjamas</label>
                            </li>
                            <li>
                                <input type="radio" id="fille_chaussures" name="categorie" value="fille_chaussures">
                                <label for="fille_chaussures">Chaussures</label>
                            </li>
                        </ul>
                    </div>


                    <!--Catégorie por garcon-->
                    <div class="column">
                        <h3 class="categorie4">Garçon</h3>
                        <ul class="radio-list">
                            <li>
                                <input type="radio" id="garcon_vetements" name="categorie" value="garcon_vetements">
                                <label for="garcon_vetements">Vêtemets d'extérieur</label>
                            </li>
                            <li>
                                <input type="radio" id="garcon_tshirts" name="categorie" value="garcon_tshirts">
                                <label for="garcon_tshirts">T-shirts et débardeurs</label>
                            </li>
                            <li>
                                <input type="radio" id="garcon_pulls" name="categorie" value="garcon_pulls">
                                <label for="garcon_pulls">Pulls et gilets</label>
                            </li>
                            <li>
                                <input type="radio" id="garcon_pantalons" name="categorie" value="garcon_pantalons">
                                <label for="garcon_pantalons">Pantalons</label>
                            </li>
                            <li>
                                <input type="radio" id="garcon_jeans" name="categorie" value="garcon_jeans">
                                <label for="garcon_jeans">Jeans</label>
                            </li>
                            <li>
                                <input type="radio" id="garcon_maillots" name="categorie" value="garcon_maillots">
                                <label for="garcon_maillots">Maillots de bain</label>
                            </li>
                            <li>
                                <input type="radio" id="garcon_pyjamas" name="categorie" value="garcon_pyjamas">
                                <label for="garcon_pyjamas">Pyjamas</label>
                            </li>
                            <li>
                                <input type="radio" id="garcon_chaussures" name="categorie" value="garcon_chaussures">
                                <label for="garcon_chaussures">Chaussures</label>
                            </li>
                            

                        </ul>
                    </div>
                </div>

                <!--Bouton creer-->
                <div class="creer_admin">
                    <input type="submit" value="Créer" class="creer_admin2">
                </div>
                                

                

                
                

                    
            </form>
        </div>
    </div>
{% endblock %}