<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
{% block content %}
    <div class="content-register">
        <div>
            
            <!--Créer une barre d'un haut pour le nom de la marque et le bouton du retour au site-->
            <div class="bord_du_haut">
                <!--Créer un bloc pour l'image et le texte'retour au site'-->
                <div class="retour_au_site">
                    <a href="{{url_for('home.landing_page')}}">
                        <!--Image-->
                        <img src="https://cdn-icons-png.flaticon.com/512/10629/10629403.png" class="img1" />
                        <!--Texte-->
                        <h3>Retour au site</h3>  
                    </a>  
                </div>
                
                <!--Texte: Marque-->
                <div class="marque_login">
                    <h1>MARQUE</h1>
                </div>
            </div>
        </div>





        <div class="elements_register">
            <!--Créer un bloc avec tous les differents champs à remplir-->
        
            <!--s'inscrire texte-->
            <div class="s_inscrire_carre">    
                <div class="s_inscrire">
                    <h1>Mot de passe oublié</h1>
                </div>
            </div>
            
            <div class="elements_register_champs">
                <form method="get">
                    <!--Saisir son adresse e-mail-->
                    <div class="adresse_e_mail_register">
                        <!--Carré ou sera écrit de saisir son adresse e-mail-->
                        <div class="carre_adresse_register">
                            <h3>Adresse e-mail</h3>
                        </div>
                        <!--Carré ou l'utilisateur doit saisir son adresse e-mail -->
                        <div id="username_register">
                            <input name="username" placeholder="Ex. : jeanlouis@gmail.com" required>
                        </div>
                    </div>
                </form>
                <form method="post">
                    <!--Saisir son mot de passe--> 
                    <div class="mot_de_passe_register">
                        <!--Carré ou sera écrit mot de passe-->
                        <div class="carre_mot_de_passe_register">
                            <h3>Mot de passe</h3>
                        </div>
                        <!--Carré ou l'utilisateur doit saisir son mot de passe-->
                        <div id="password_register">
                            <input type="password" name="password" placeholder="8 caractères minimum" required>
                        </div>
                    </div>
                </form>

                <!--Bouton s'inscrire-->
                
                <div class="s_inscrire_register">
                    <input type="submit" value="S'inscrire" class="inscrire_register">
                </div>
                
            </div>
                    
                
                
            
        
        </div>
    
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        
    </div>
{% endblock %}
