{% extends 'base2.html' %}

{% block title %}
  
{% endblock %}

<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
{% block content %}
    <div class="content-register">


        <div class="elements_register">
            <!--Créer un bloc avec tous les differents champs à remplir-->
        
            <!--Mot de passe oublie texte-->
            <div class="s_inscrire_carre">    
                <div class="s_inscrire">
                    <h1>Réinitialiser votre mot de passe</h1>
                </div>
            </div>
            
            <div class="elements_register_champs">
                <form method="get">
                    <!--Saisir son adresse e-mail-->
                    <div class="adresse_e_mail_register">
                        <!--Carré ou sera écrit de saisir son adresse e-mail-->
                        <div class="carre_adresse_register">
                            <h3>Adresse e-mail</h3>
                        </div>
                        <!--Carré ou l'utilisateur doit saisir son adresse e-mail -->
                        <div id="username_register">
                            <input name="username" placeholder="Ex. : jeanlouis@gmail.com" required>
                        </div>
                    </div>
                </form>
                <form method="post">
                    <!--Saisir son mot de passe--> 
                    <div class="mot_de_passe_register">
                        <!--Carré ou sera écrit mot de passe-->
                        <div class="carre_mot_de_passe_register">
                            <h3>Mot de passe</h3>
                        </div>
                        <!--Carré ou l'utilisateur doit saisir son mot de passe-->
                        <div id="password_register">
                            <input type="password" name="password" placeholder="8 caractères minimum" required>
                        </div>
                    </div>
                </form>

                <!--Bouton s'inscrire-->
                
                <div class="s_inscrire_register">
                    <input type="submit" value="S'inscrire" class="inscrire_register">
                </div>
                
            </div>
                    
                
                
            
        
        </div>
    
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        
    </div>
{% endblock %}
