{% extends 'base2.html' %}

{% block title %}
  Vous êtes connecté
{% endblock %}

<!doctype html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

{% block content %}
  <div class="content-register">
    <div>
      <form method="post">
        
      
        <div class="bas_page">
          <!--Photo quart de la page-->
          <div class="photo">
            <img src="https://smize.pl/pol_pl_Sukienka-maxi-Fuerta-zielona-Cocomore-1394_2.jpg" />
          </div>

          <!--Partie de droite-->
          <div class="bas_droite">
            <!--Texte: Se connecter-->
            <div id="se_connecter2">
              <h1>Vous êtes connecté</h1>
            </div>
        
            <!--Bouton se connecter-->
            <div class="se_connecter_login">
              <input type="submit" value="Continuer" class="continuer_login">
            </div>

          </div>

        </div>
      </form>

      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}