{% extends 'base.html' %}

{% block title %}
  Joggins pour homme
{% endblock %}

<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  
  <body>

    {% block content %}
      <div class="contenu_index">
        {% for produit in produits %}
        

          <!--Produit 1-->
          <div class="contenu_produit">
            <!--Image du produit-->
            <div class="img_produit">

              <!--Produit-->
              <img src="{{ produit.chemin_vers_le_fichier_img }}" 
              class="img_du_produit" />
              
              <!--Image pour le coeur-->
              <img src="https://cdn-icons-png.flaticon.com/512/660/660465.png" class="img_icon_coeur" />
            </div>
            <!--Description du produit-->
            <div class="description_produit">
              <div class="description_textes">
                <h3>{{ produit.nom }}</h3>
                <h3>CHF {{ produit.prix }}</h3>
              </div>

              <!--Icon chariot-->
              
              <img src="https://cdn-icons-png.flaticon.com/512/9485/9485920.png"  class="img_icon_produit"/>
            </div>  
              
          </div>
        {%endfor%}
      </div>
    {% endblock %}
  
  </body>
</html>
          