
<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header id="header1">
        <div class="Marque">
            <a href="{{url_for('home.landing_page')}}">MARQUE</a>
        </div>

        <!--Création de la barre de recherche-->
        <div class="barre_recherche">
            <form action="{{ url_for('barre_recherche.index') }}" method="get" class="search_bar">
                <input type="text" name="nom"  placeholder="Cherchez un produit" required>
                <button type="submit"><img src="https://cdn-icons-png.flaticon.com/512/13100/13100934.png"></button>
            </form>

        </div>
        
          

        <div class="iconsposition">
            <!--Ajout des images d'icons-->
            <!--icon cloche-->
            <div class="img icons">
                <img src="https://cdn-icons-png.flaticon.com/512/6880/6880045.png" />
            </div>

            <!--icon coeur-->
            <div class="img icons">
                <img src="https://icons.veryicon.com/png/o/miscellaneous/ramen-iconset-linear-icon-set/love-36.png" />            
            </div>

            <!--icon chariot-->
            <div class="img icons">
                <img src="https://cdn-icons-png.flaticon.com/512/9485/9485920.png" />                       
            </div>

            <!--icon de profit qui renvoie à la page du login-->
            <nav>
                <div class="img icons">
                    <a href="{{ url_for('auth.login') }}">
                        <img src="https://cdn2.iconfinder.com/data/icons/user-interface-3-filled-line/64/user_profile_circle_interface_person-1024.png" 
                        alt="User icon"/>
                    </a>
                </div>

            </nav>
        </div>

        <ul class="vetements">
            <li class="dropdown">
                <a class="design_vetements">Vêtements pour femme</a>
                <ul class="dropdown-menu">
                    <div class="colonnes">
                        <div class="block1">
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/8365/8365472.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_robes') }}">Robes</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/3345/3345393.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_tops') }}">Tops et T-shirts</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/2806/2806102.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_chemises') }}">Chemises et blusons</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/1348/1348192.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_sweats') }}">Sweats et sweats à capuche</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/6363/6363016.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_pulls') }}">Pulls et gilets</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/3515/3515916.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_vestes') }}">Vestes et blazers</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/6266/6266246.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_pantalons') }}">Pantalons et leggins</a></li>
                        </div>
                        <div class="block2">
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/2806/2806058.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_jeans') }}">Jeans</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/1736/1736901.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_jupes') }}">Jupes et shorts</a></li>
                            <li class="options"><img src="https://cdn0.iconfinder.com/data/icons/water-park-28/64/diving_suit_scuba_underwater_ocean_swim-512.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_combinaisons') }}">Combinaison</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/7759/7759543.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_maillots') }}">Maillots de bain</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/1146/1146650.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_pyjamas') }}">Pyjamas et nuisettes</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/5479/5479005.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='femme_chaussures') }}">Chaussures</a></li>
                        </div>
                    </div>
                </ul>
            </li>
        

            <li class="dropdown">
                <a class="design_vetements">Vêtements pour homme</a>
                <ul class="dropdown-menu">
                    <div class="colonnes">
                        <div class="block1">
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/3345/3345393.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_polos') }}">T-shirt et polos</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/2806/2806102.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_chemises') }}">Chemises</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/1348/1348192.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_sweats') }}">Sweats et hoodies</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/6235/6235556.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_mailles') }}">Mailles</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/2405/2405600.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_vestes') }}">Vestes et manteaux</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/3531/3531767.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_pantalons') }}">Pantalons</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/2806/2806058.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_jeans') }}">Jeans</a></li>
                        </div>
                        <div class="block2">
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/5140/5140368.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_shorts') }}">Shorts et bermudas</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/4435/4435633.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_joggings') }}">Joggings</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/2405/2405637.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_maillots') }}">Maillots de bain</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/1146/1146650.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_pyjamas') }}">Pyjamas</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/5479/5479005.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='homme_chaussures') }}">Chaussures</a></li>
                        </div>
                    </div>
                </ul>


            </li>
            
            <li class="dropdown">
                <a class="design_vetements">Vêtements pour fille</a>
                <ul class="dropdown-menu">
                    <div class="colonnes">
                        <div class="block1">
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/8365/8365472.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='fille_robes') }}">Robes</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/1348/1348192.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='fille_vetements') }}">Vêtements d'extérieur</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/6363/6363016.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='fille_pulls') }}">Pulls et gilets</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/3531/3531767.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='fille_pantalons') }}">Pantalons</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/2806/2806058.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='fille_jeans') }}">Jeans</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/1736/1736901.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='fille_jupes') }}">Jupes et shorts</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/7759/7759543.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='fille_maillots') }}">Maillots de bain</a></li>
                            
                        </div>
                        <div class="block2">
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/1146/1146650.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='fille_pyjamas') }}">Pyjamas</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/5479/5479005.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='fille_chaussures') }}">Chaussures</a></li>
                        </div>
                    </div>

                </ul>

            </li>

            <li class="dropdown">
                <a class="design_vetements">Vêtements pour garçon</a>
                <ul class="dropdown-menu">
                    <div class="colonnes">
                        <div class="block1">
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/1348/1348192.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='garcon_vetements') }}">Vêtemets d'extérieur</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/3345/3345393.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='garcon_tshirts') }}">T-shirts et débardeurs</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/6363/6363016.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='garcon_pulls') }}">Pulls et gilets</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/3531/3531767.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='garcon_pantalons') }}">Pantalons</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/2806/2806058.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='garcon_jeans') }}">Jeans</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/2405/2405637.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='garcon_maillots') }}">Maillots de bain</a></li>
                        </div>

                        <div class="block2">
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/1146/1146650.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='garcon_pyjamas') }}">Pyjamas</a></li>
                            <li class="options"><img src="https://cdn-icons-png.flaticon.com/512/5479/5479005.png" class="img"><a class="option_texte" href="{{ url_for('produit.produit_categorie', categorie='garcon_chaussures') }}">Chaussures</a></li>
                        </div>
                    </div>
                </ul>

            </li>
        </ul>
        

    </header>
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>
    






    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>