
<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header id="header1">
        <div class="Marque">
            <h1>MARQUE</h1>
        </div>

        <!--Création de la barre de recherche-->
        <div id="barre_recherche">
            <!--Insertion de l'image de recherche-->
            <div class="img" id="cloche">
                <img src="https://www.webiconio.com/_upload/2412/image_2412.svg" />
            </div>
            <!--Texte de recherche à l'interieur de la barre de recherche-->
            <h3 id="rechercher">
                Rechercher
            </h3>

        </div>

        <div class="iconsposition">
            <!--Ajout des images d'icons-->
            <!--icon cloche-->
            <div class="img icons">
                <img src="https://cdn-icons-png.flaticon.com/512/6880/6880045.png" />
            </div>

            <!--icon coeur-->
            <div class="img icons">
                <img src="https://cdn-icons-png.flaticon.com/512/660/660465.png" />            
            </div>

            <!--icon chariot-->
            <div class="img icons">
                <img src="https://cdn-icons-png.flaticon.com/512/9485/9485920.png" />                        
            </div>

            <!--icon de profit qui renvoie à la page du login-->
            <nav>
                <div class="img icons">
                    <a href="{{ url_for('auth.login') }}">
                        <img src="https://cdn2.iconfinder.com/data/icons/user-interface-3-filled-line/64/user_profile_circle_interface_person-1024.png" 
                        alt="User icon"/>
                    </a>
                </div>

            </nav>
        </div>

        <ul class="vetements">
            <li class="dropdown">
                <a class="design_vetements">Vêtements pour femme</a>
                <ul class="dropdown-menu">
                    <div class="colonnes">
                        <div class="block1">
                            <li class="options"><a>Robes</a></li>
                            <li class="options"><a>Tops et T-shirts</a></li>
                            <li class="options"><a>Chemises et blusons</a></li>
                            <li class="options"><a>Sweats et sweats à capuche</a></li>
                            <li class="options"><a>Pulls et gilets</a></li>
                            <li class="options"><a>Vestes et blazers</a></li>
                            <li class="options"><a>Pantalons et leggins</a></li>
                        </div>
                        <div class="block2">
                            <li class="options"><a>Jeans</a></li>
                            <li class="options"><a>Combinaison</a></li>
                            <li class="options"><a>Maillots de bain</a></li>
                            <li class="options"><a>Pyjamas et nuisettes</a></li>
                            <li class="options"><a>Chaussures</a></li>
                        </div>
                    </div>
                </ul>
            </li>
        

            <li class="dropdown">
                <a class="design_vetements">Vêtements pour homme</a>
                <ul class="dropdown-menu">
                    <div class="colonnes">
                        <div class="block1">
                            <li class="options"><a>T-shirt et polos</a></li>
                            <li class="options"><a>Chemises</a></li>
                            <li class="options"><a>Sweats et hoodies</a></li>
                            <li class="options"><a>Maille</a></li>
                            <li class="options"><a>Vestes et manteaux</a></li>
                            <li class="options"><a>Pantalons</a></li>
                            <li class="options"><a>Jeans</a></li>
                        </div>
                        <div class="block2">
                            <li class="options"><a>Shorts et bermudas</a></li>
                            <li class="options"><a>Joggings</a></li>
                            <li class="options"><a>Maillots de bain</a></li>
                            <li class="options"><a>Pyjamas</a></li>
                            <li class="options"><a>Chaussures</a></li>
                        </div>
                    </div>
                </ul>


            </li>
            
            <li class="dropdown">
                <a class="design_vetements">Vêtements pour fille</a>
                <ul class="dropdown-menu">
                    <li><a>Robes</a></li>
                    <li><a>Vêtements d'extérieur</a></li>
                    <li><a>Pulls et gilets</a></li>
                    <li><a>Pantalons</a></li>
                    <li><a>Jupes et shorts</a></li>
                    <li><a>Maillots de bain</a></li>
                    <li><a>Pyjamas</a></li>
                    <li><a>Chaussures</a></li>

                </ul>

            </li>

            <li class="dropdown">
                <a class="design_vetements">Vêtements pour garçon</a>
                <ul class="dropdown-menu">
                    <li><a>Vêtemets d'extérieur</a></li>
                    <li><a>T-shirts et débardeurs</a></li>
                    <li><a>Pulls et gilets</a></li>
                    <li><a>Pantalons</a></li>
                    <li><a>Jeans</a></li>
                    <li><a>Maillots de bain</a></li>
                    <li><a>Pyjamas</a></li>
                    <li><a>Chaussures</a></li>

                </ul>

            </li>
        </ul>
        

    </header>
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>
    






    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>