
<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header id="header1">
        <div class="Marque">
            <h1>MARQUE</h1>
        </div>

        <!--Création de la barre de recherche-->
        <div id="barre_recherche">
            <!--Insertion de l'image de recherche-->
            <div class="img" id="cloche">
                <img src="https://www.webiconio.com/_upload/2412/image_2412.svg" />
            </div>
            <!--Texte de recherche à l'interieur de la barre de recherche-->
            <h3 id="rechercher">
                Rechercher
            </h3>

        </div>

        <div id="iconsposition">
            <!--Ajout des images d'icons-->
            <!--icon cloche-->
            <div class="img icons">
                <img src="https://cdn-icons-png.flaticon.com/512/6880/6880045.png" />
            </div>

            <!--icon coeur-->
            <div class="img icons">
                <img src="https://cdn-icons-png.flaticon.com/512/660/660465.png" />            
            </div>

            <!--icon chariot-->
            <div class="img icons">
                <img src="https://cdn-icons-png.flaticon.com/512/9485/9485920.png" />                        
            </div>

            <!--icon de profit qui renvoie à la page du login-->
            <nav>
                <div class="img icons">
                    <a href="{{ url_for('auth.login') }}">
                        <img src="https://cdn2.iconfinder.com/data/icons/user-interface-3-filled-line/64/user_profile_circle_interface_person-1024.png" 
                        alt="User icon"/>
                    </a>
                </div>

            </nav>
        </div>

        <div class="vetements">
            <div>
                <h3 class="design_vetements">Vêtements pour femme</h3>
            </div>
            <div>
                <h3 class="design_vetements">Vêtements pour homme</h3> 
            </div>
            <div>
                <h3 class="design_vetements">Vêtements pour enfants</h3>

            </div>
        </div>
        

    </header>
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>
    






    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>