<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header id="header2">
        <!--Créer une barre d'un ahut pour le nom de la marque et le bouton du retour au site-->
        <div class="bord_du_haut">

            <!--Créer un bloc pour l'image et le texte'retour au site'-->
            <div class="retour_au_site">
                <a href="{{url_for('home.landing_page')}}">
                    <!--Image-->
                    <img src="https://cdn-icons-png.flaticon.com/512/10629/10629403.png" class="img1" />
                    <!--Texte-->
                    <h3>Retour</h3>    
                </a>    
            </div>
            
            <!--Texte: Marque-->
            <div class="marque_login">
                <h1>MARQUE</h1>
            </div>
        </div>
    </header>
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>
    






    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>